.headline {
  font-size: 10vh;
  text-align: center;
}

.container {
  border: 10px solid grey;
  border-radius: 1vh;
  margin:auto;
  width: 60%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .cell__container {
    font-size: 7vh; 
    padding-top: 12%;
    height: 10vh;
    border: 1px solid red;
    background-color: lightgoldenrodyellow;
    border-radius: 1vh;
  }
}

.button__shafl {
  display: block;
  margin: auto;
  margin-top: 15px;
  font-size: 3vw;
  border-radius: 5px;
  background-color: antiquewhite;
}
